/**
 * This file has been claimed for ownership from @keycloakify/keycloak-admin-ui version 260200.0.3.
 * To relinquish ownership and restore this file to its original content, run the following command:
 * 
 * $ npx keycloakify own --path "admin/authentication/policies/otp-policy.css" --revert
 */

.keycloak__otp_policies_authentication__policy-type {
    display: inline-grid;
    padding-right: var(--pf-v5-global--spacer--lg);
}

.keycloak__otp_policies_authentication__number-of-digits {
    display: inline-grid;
    padding-right: var(--pf-v5-global--spacer--lg);
}

@media (min-width: 768px) {
    .keycloak__otp_policies_authentication__form {
        max-width: 768px;
    }

    .keycloak__otp_policies_authentication__form .pf-v5-c-form__group {
        --pf-v5-c-form--m-horizontal__group-label--md--GridColumnWidth: 11rem;
    }
}
