/**
 * This file has been claimed for ownership from @keycloakify/keycloak-admin-ui version 260200.0.3.
 * To relinquish ownership and restore this file to its original content, run the following command:
 * 
 * $ npx keycloakify own --path "admin/components/form/fixed-buttons.module.css" --revert
 */

.buttonGroup {
    position: fixed;
    bottom: 0px;
    background-color: var(--pf-v5-c-page__main-section--m-light--BackgroundColor);
    padding-top: var(--pf-v5-global--spacer--md);
    padding-bottom: var(--pf-v5-global--spacer--md);
    padding-left: var(--pf-v5-global--spacer--md);
    width: 100%;
    border-top: 1px solid var(--pf-v5-global--BorderColor--100);
    margin-left: calc(-1 * var(--pf-v5-global--spacer--lg));
}
