/* Bullseye */

.pf-v5-l-bullseye {
    background-color: var(--pf-v5-c-page__main-section--BackgroundColor);
}

/* Typography */

.pf-v5-c-title {
    --pf-v5-c-title--m-4xl--FontWeight: var(--pf-v5-global--FontWeight--bold);
    --pf-v5-c-title--m-3xl--FontWeight: var(--pf-v5-global--FontWeight--bold);
    --pf-v5-c-title--m-2xl--FontWeight: var(--pf-v5-global--FontWeight--bold);
    --pf-v5-c-title--m-xl--FontWeight: var(--pf-v5-global--FontWeight--bold);
}

/* Forms */

.pf-v5-c-form {
    --pf-v5-c-form__label-text--FontWeight: var(--pf-v5-global--FontWeight--medium);
}

.pf-v5-c-form-control,
.pf-v5-c-form-control input,
.pf-v5-c-form-control::after,
.pf-v5-c-menu-toggle,
.pf-v5-c-menu-toggle::after,
.pf-v5-c-menu-toggle::before,
.pf-v5-c-menu {
    border-radius: var(--pf-v5-global--BorderRadius--sm);
}

.pf-v5-c-menu__list-item[data-ouia-component-type="PF5/DropdownItem"]:first-of-type {
    border-top-left-radius: var(--pf-v5-global--BorderRadius--sm);
    border-top-right-radius: var(--pf-v5-global--BorderRadius--sm);
}

.pf-v5-c-menu__list-item[data-ouia-component-type="PF5/DropdownItem"]:last-of-type {
    border-bottom-left-radius: var(--pf-v5-global--BorderRadius--sm);
    border-bottom-right-radius: var(--pf-v5-global--BorderRadius--sm);
}

.pf-v5-c-menu-toggle:has(+ .pf-v5-c-menu[data-popper-placement*="top"]),
.pf-v5-c-menu-toggle:has(+ .pf-v5-c-menu[data-popper-placement*="top"])::after,
.pf-v5-c-menu-toggle:has(+ .pf-v5-c-menu[data-popper-placement*="top"])::before,
.pf-v5-c-menu[data-popper-placement*="bottom"]:not(
        [data-ouia-component-type="PF5/Dropdown"]
    ) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.pf-v5-c-menu-toggle:has(+ .pf-v5-c-menu[data-popper-placement*="bottom"]),
.pf-v5-c-menu-toggle:has(+ .pf-v5-c-menu[data-popper-placement*="bottom"])::after,
.pf-v5-c-menu-toggle:has(+ .pf-v5-c-menu[data-popper-placement*="bottom"])::before,
.pf-v5-c-menu[data-popper-placement*="top"]:not(
        [data-ouia-component-type="PF5/Dropdown"]
    ) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.pf-v5-c-menu {
    box-shadow: var(--css-global--inset-shadow), var(--css-global--inset-ring-shadow),
        var(--css-global--ring-offset-shadow), var(--css-global--ring-shadow),
        var(--css-global--shadow-lg);
}

/* Buttons/Menu Toggles */

.pf-v5-c-toggle-group__button,
.pf-v5-c-button,
.pf-v5-c-button::after,
.pf-v5-c-menu-toggle,
.pf-v5-c-menu-toggle::after,
.pf-v5-c-menu-toggle::before {
    transition-property:
        color,
        background-color,
        border-color,
        border-width,
        text-decoration-color,
        fill,
        stroke,
        opacity,
        box-shadow,
        transform,
        translate,
        scale,
        rotate,
        filter,
        -webkit-backdrop-filter,
        backdrop-filter;
    transition-timing-function: var(--css-global--transition-timing-function);
}

.pf-v5-c-button,
.pf-v5-c-menu-toggle {
    transition-duration: var(--css-global--transition-duration);
    border-radius: var(--pf-v5-global--BorderRadius--sm);
}

.pf-v5-c-toggle-group__button,
.pf-v5-c-button {
    border-radius: var(--pf-v5-global--BorderRadius--sm);
}

.pf-v5-c-toggle-group__button,
.pf-v5-c-button::after,
.pf-v5-c-menu-toggle::after,
.pf-v5-c-menu-toggle::before {
    transition-duration: var(--css-global--transition-duration-short);
}

.pf-v5-c-button:not(.pf-m-link):not(.pf-m-plain):hover,
.pf-v5-c-button:not(.pf-m-link):not(.pf-m-plain):focus,
.pf-v5-c-button:not(.pf-m-link):not(.pf-m-plain):active {
    box-shadow: var(--css-global--inset-shadow), var(--css-global--inset-ring-shadow),
        var(--css-global--ring-offset-shadow), var(--css-global--ring-shadow),
        var(--css-global--shadow);
}

.pf-v5-c-button.pf-m-primary {
    --pf-v5-c-button--m-primary--BackgroundColor: var(--css-global--primary-color);
    --pf-v5-c-button--m-primary--Color: var(--css-global--primary-color-foreground);
}

.pf-v5-c-button.pf-m-primary:hover,
.pf-v5-c-button.pf-m-primary:focus,
.pf-v5-c-button.pf-m-primary:active {
    --pf-v5-c-button--m-primary--Color: var(--css-global--secondary-color-foreground);
}

.pf-v5-c-button.pf-m-primary:hover {
    --pf-v5-c-button--m-primary--BackgroundColor: var(--css-global--secondary-color);
}

.pf-v5-c-button.pf-m-primary:active,
.pf-v5-c-button.pf-m-primary:focus {
    --pf-v5-c-button--m-primary--BackgroundColor: var(--css-global--brand-blue);
}

/* Empty state body color */

.pf-v5-c-empty-state__body {
    --pf-v5-c-empty-state__body--Color: var(--pf-v5-global--palette--black-500);
}

:where(.pf-v5-theme-dark) .pf-v5-c-empty-state__body {
    --pf-v5-c-empty-state__body--Color: var(--pf-v5-global--palette--black-300);
}

/* Tab items */

.pf-v5-c-tabs__item.pf-m-action::after, .pf-v5-c-tabs__link::after {
    transition-property:
        color,
        background-color,
        border-color,
        border-width,
        text-decoration-color,
        fill,
        stroke,
        opacity,
        box-shadow,
        transform,
        translate,
        scale,
        rotate,
        filter,
        -webkit-backdrop-filter,
        backdrop-filter;
    transition-timing-function: var(--css-global--transition-timing-function);
    transition-duration: var(--css-global--transition-duration);
}

.pf-v5-c-tabs__link {
    --pf-v5-c-tabs__link--Color: var(--pf-v5-global--palette--black-400);
}

.pf-v5-c-tabs__link[aria-selected="true"] {
    --pf-v5-c-tabs__link--Color: var(--pf-v5-global--palette--black-900);
}

:where(.pf-v5-theme-dark) .pf-v5-c-tabs__link {
    --pf-v5-c-tabs__link--Color: var(--pf-v5-global--palette--black-400);
}

:where(.pf-v5-theme-dark) .pf-v5-c-tabs__link[aria-selected="true"] {
    --pf-v5-c-tabs__link--Color: var(--pf-v5-global--palette--black-50);
}

/* Toggle Group  */

.pf-v5-c-toggle-group__button.pf-m-selected {
    --pf-v5-c-toggle-group__button--BackgroundColor: var(--css-global--secondary-color);
    --pf-v5-c-toggle-group__button--before--BorderColor: var(--css-global--brand-blue);
}

.pf-v5-c-toggle-group__button:hover {
    --pf-v5-c-toggle-group__button--BackgroundColor: var(--css-global--brand-blue);
}

/* Switches */

.pf-v5-c-switch__input:disabled ~ .pf-v5-c-switch__toggle {
    opacity: 0.5;
}

/* Cards */
.pf-v5-c-card.pf-m-rounded {
    --pf-v5-c-card--m-rounded--BorderRadius: var(--pf-v5-global--BorderRadius--md);
}