/**
 * This file has been claimed for ownership from @keycloakify/keycloak-admin-ui version 260200.0.3.
 * To relinquish ownership and restore this file to its original content, run the following command:
 * 
 * $ npx keycloakify own --path "admin/dashboard/dashboard.css" --revert
 */

.keycloak__dashboard_introduction {
    max-width: 400px;
    line-height: 1.4;
}

.keycloak__dashboard_card {
    height: 100%;
}

.keycloak__dashboard_welcome_tab {
    max-width: clamp(300px, 50%, 576px);
    margin-top: var(--pf-v5-global--spacer--md);
}
