/**
 * This file has been claimed for ownership from @keycloakify/keycloak-admin-ui version 260200.0.3.
 * To relinquish ownership and restore this file to its original content, run the following command:
 * 
 * $ npx keycloakify own --path "admin/dashboard/dashboard.css" --revert
 */

.keycloak__dashboard_icon {
    --css--brand-container--padding-x: 1rem;
    --css--brand--width: 600px;

    background: white;
    align-items: center;
    padding: 0 var(--css--brand-container--padding-x);
    border-radius: 0.5rem;
    max-width: calc(
        var(--css--brand--width) + (2 * var(--css--brand-container--padding-x))
    );
    width: 100%;
}

.keycloak__dashboard_introduction {
    max-width: 400px;
    line-height: 1.4;
}

.keycloak__dashboard_card {
    height: 100%;
}

.keycloak__dashboard_welcome_tab {
    max-width: 38%;
    margin-top: var(--pf-v5-global--spacer--md);
}
