/**
 * This file has been claimed for ownership from @keycloakify/keycloak-admin-ui version 260200.0.3.
 * To relinquish ownership and restore this file to its original content, run the following command:
 * 
 * $ npx keycloakify own --path "admin/authentication/components/used-by.module.css" --revert
 */

.label {
    padding: 0;
    font-size: var(--pf-v5-c-table--cell--FontSize);
}

.label.used {
    color: var(--pf-v5-global--success-color--100);
}

.label.notUsed {
    color: var(--pf-v5-global--Color--light-300);
}

:where(.pf-v5-theme-dark) .label.notUsed {
    color: var(--pf-v5-global--palette--black-400);
}